doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description' content='')
		meta(name='author' content='')

		link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
		// Font Awesome icons (free version)
		script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
		// Google fonts
		link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
		// Core theme CSS (includes Bootstrap)
		link(href='/stylesheets/styles.css' rel='stylesheet')

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css' integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==' crossorigin='')

		script(src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js' integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==' crossorigin='')


	body
		block content
